.myblue{
    color:#162534
}
html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: #444;
    background-color: #EAEAEA;
}


a:link {
    color: #F4CF5E;
    text-decoration: underline;
}
a:visited {
    color: #304878;
    text-decoration: underline;
}
a:hover {
    color: #F0A818;
    text-decoration: none;
}
a:active {
    color: #F0A818;
    font-weight: bold;
}


#header {
    width: 100%;
    height: 500px;
    font-weight: 300;
    color: white;
    margin-bottom: 40px;
}

.bg1 {
    background-image: url('../images/Starry2.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto 150%;
}

.bg2 {
    background-color: #299DB6;
}

#headersection {
    position: absolute;
    left: 0%;
    top: 265px;
    width: 80%;
}

#headertext {
    font-size: 26px;
    font-weight: 400;
    margin-top: 50px;
    margin-left: 240px;
}

.imgme {
    border: 3px solid white;
    /* box-shadow: #AAA 0px 0px 4px 0px; */
    float: left;
    margin-left: 30;
    margin-top: 30;
}

#htname {
    font-size: 46px;
    font-weight: 400;
}

#htdesc {
    font-size: 18px;
    font-weight: 300;
    margin-top: 2px;
    margin-left: 20px;
}

#htem {
    font-size: 14px;
    font-weight: 300;
    margin-left: 20px;
}

@media (max-width: 850px) {
    #headersection {
        text-align: center;
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
    }
    .imgme {
        float: none;
    }
    #headertext {
        margin: 20px 0;
    }
    #htname {
        font-size: 28px;
    }
    #htdesc {
        font-size: 16px;
    }
    ul {
        display: inline-block;
    }
    ul li {
        list-style-type: none;
    }
    ul li a i {
        background: #205D7A;
        color: #fff;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        font-size: 25px;
        text-align: center;
        margin-right: 10px;
        padding-top: 15%;
        transition: all 0.2s ease-in-out;
    }
}

ul {
    overflow: auto;
    margin-top: 10px;
    margin-left: 30px;
}

ul li {
    list-style-type: none;
    float: left;
}

ul li a i {
    background: #205D7A;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 25px;
    text-align: center;
    margin-right: 10px;
    padding-top: 15%;
    transition: all 0.2s ease-in-out;
}

ul li a i:hover {
    opacity: .7;
}

.fa-github {
    background: #4183c4;
}

.fa-github-alt {
    color:162534
}

.fa-github-alt:hover {
    color:#F0A818
}

.fa-linkedin {
    background: #007bb6
}

.fa-twitter {
    background: #00aced
}

.fa-envelope {
    background: #4285f4;
}

.fa-star {
    color: #fff;
    margin-top: 10px;
}

.fa-book {
    color: #fff;
    margin-top: 10px;
}

.fa-graduation-cap {
    color: #fff;
    margin-top: 10;
}